---
import PokemonList from "../components/PokemonList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="List of Pokemons!">
    <main>
        <PokemonList />
    </main>
</Layout>
